*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
}

ul,li,a{
    text-decoration: none;
    list-style: none;
}

body{
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(./image/informatika.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}




/* Ez a navigációs rész */




.portfolio{
    margin: 1rem;
    font-size: 2rem;
    font-weight: 800;
}

.portfolio span{
    font-size: 2rem;
    color: chocolate;
    font-weight: 800;
}

.hamburger-menu{
    border-radius: 2px;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line{
    width: 100%;
    height: 2px;
    background-color: chocolate;
    border-radius: 10px;
    transition: all 1s;
}

.navbar{
    position: relative;
    z-index: 500;
    width: 300px;
    height: 395px;
    position: fixed;
    top: 5px;
    right: -300px;
    opacity: 0.6;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    transition: right 1s cubic-bezier(1, 0, 0, 1);
}

.change{
    right: 0;
}

.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2{
opacity: 0;
}

.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list{
    text-align: right;
}

.nav-item{
    margin: 25px;
    transition: 0.3s;
    position: relative;
}

.nav-link{
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;
}

.nav-link::before,
.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    left: 0;
    transform: scalex(0);
    transition: transform 0.5s;
}

.nav-link::after{
    bottom: 0;
    transform-origin: left;
}

.nav-link::before{
    top: 0;
    transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after{
    transform: scalex(1);
}



/* Ez a főoldal */




.box{
    margin: 80px 0 100px 20px;
}

.box h1{
    font-weight: 300;
    font-size: 1.2rem;
}

.box h4{
    font-size: 2.4rem;
}

.box h4 span{
    font-size: 2.4rem;
    color: chocolate;
}

.cv{
    margin: 30px 0;
    transition: 0.3s;
    display: inline-block;
}

.cv a {
    color: burlywood;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #0A0A0A;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.cv a:hover{
    color: burlywood;
    box-shadow: 0 0 5px white;

}

.cv:hover{
    transform:translatey(-5px);
}




/* Ez a rólam rész */




.text h2{
    text-align: center;
    font-size: 2.5rem;
    color: chocolate;
}

.rolam{
    background-color: #0A0A0A;
    padding: 20px 0 0 0;
}

.container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-kep img{
    margin: 20px 0 30px 0;
    width: 200px;
    border-radius: 30% 10%;
}

.container-magamrol h3{
    border-top: 1px solid white;
    padding-top: 25px;
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
}

.container-magamrol p{
    margin: 25px auto auto auto;
    width: 280px;
    color: rgba(255,255,255,.7);
    font-weight: 500;
    text-shadow: 1px 1px 2px black;
}

.media{
    margin: 25px auto;
    transition: 0.2s;
}

.media:hover{
    transform: translatey(-5px);
    color: burlywood;
    display: inline-block;
    border-bottom: 1px solid burlywood;
}

.upwork{
    transition: 0.3s;
}

.upwork:hover{
    transform: translatey(-5px);
}

.media a{
    color: red;
    font-size: 1.5rem;
    font-weight: 800;
    transition: 0.2s;
}

.media a:hover{
    transform: translatey(-5px);
    color: burlywood;
    border-bottom: 1px solid burlywood;
}




/*Ez a miért én*/




.why-me{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0.2),rgba(0,0,0,.2)), url(./image/inteligencia.jpg);
}

.kepesseg{
    text-align: center;
    padding-top: 100px;
}

.kepesseg h2{
    font-size: 2.5rem;
    color: chocolate;
    padding-bottom: 10px;
    text-shadow: 0 0 5px black;
}

.kepesseg p{
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 20px;

}

.kepesseg-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.kepesseg-box{
    padding: 10px;
    text-align: center;
    width: 280px;
    height: 250px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: rgba(30,30,20);
    box-shadow: inset 0 0 10px white;
}

.kepesseg-box img{
    height: 50px;
}

.kepesseg-box h4{
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px black;
}

.kepesseg-box p{
    color: rgba(255,255,255,.5);
    font-weight: 800;
}




/* Ez a %-os rész képességek */




.skills-text{
    text-align: center;
    padding-top: 20px;
    background-color: #101010;
}

.skills-text h4{
    font-size: 2.5rem;
    color: chocolate;
    padding-bottom: 10px;
}

.skills-text p{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    padding-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #101010;
    padding: 100px;
}

.card img{
width: 200px;
}

.card1 img {
    width: 150px;
}

.card2 img {
    width: 330px;
}

.card3 img,
.card4 img {
    width: 200px;
}

.kartya{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    transition: 0.3s;
    background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
}

.kartya:hover{
    transform: translatey(-10px);
    box-shadow: 0 0 10px rgba(255,255,60,.5);
}



.szazalek .szam{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*Ez a projektjeim rész*/




.projects{
    background-color: #0A0A0A;
    padding: 50px 0;
}

.projects h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: bisque;
    text-decoration: underline;
}

.projects h4 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.projects h2{
    text-align: center;
    font-size: 1.8rem;
    color: chocolate;
    padding-bottom: 30px;
}

.games img {
    width: 230px;
    margin-top: 30px;
}

.loto_container{
    padding: 50px 0;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text a{
    background-color: rgb(37, 62, 62);
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    color: chocolate;
    font-weight: 600;
    font-size: 1rem;
}

.text a:hover{
    color: white;
    opacity: 0.8;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 2px 2px 5px chocolate;
}

.clovece_container{
    padding: 50px 0;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}



/* Ez a lábléc */




.links h6{
    margin-bottom: 40px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border-bottom: 2px solid white;
    display: inline-block;
}

.lablec{
    padding-top: 100px;
    background-color:#101010;
    border-top: 1px solid rgba(255, 255, 255, 0.479);
    display: flex;
    justify-content: space-evenly;
}

.lablec-kialakitas{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.lablec-kialakitas label{
    font-size: 1.2rem;
    margin: 10px 0 10px 0;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
}

input{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 5px;
    color: white;
    letter-spacing: 1px;
    font-weight: 800;
}

textarea{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 5px;
    color: white;
    letter-spacing: 1px;
    font-weight: 800;}

.submit{
    background-color: burlywood;
    width: 100px;
    margin: 30px auto;
    cursor: pointer;
    color: black;
    font-weight: 600;
}



/*Ez a lábléc*/



.kontakt{
    padding-top: 20px;
    background-color: #101010;
    border-top: 1px solid rgba(255, 255, 255, 0.589);
}

.links{
    text-align: center;
}

.links h4{
    font-size: 1.2rem;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.footer-link{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.footer-link a{
    transition: 0.3s;
    font-weight: 500;
    color: burlywood;
}

.footer-link li{
    transition: 0.3s;
}

.footer-link li:hover,
.footer-link a:hover{
    color: red;
    transform: translatex(-3px);
}

.kerdes{
    padding-bottom: 50px;
    text-align: center;
}

.kerdes h4{
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 30px 0 10px 0;
}

.elerhetoseg{
    line-height: 1.5;
    display: flex;
    justify-content: center;
    color: rgba(255,255,255,.5);
}

.elerhetoseg p{
    font-size: 1.1rem;
    font-weight: 300;
    margin-left: 10px;

}



@media screen and (min-width:676px){

    .games img {
        width: 500px;
        height: 300px;
    }

    .box{
        margin: 80px 0 400px 20px;
    }

    .box h1{
        font-weight: 200;
        font-size: 2rem;
    }
    .box h4,
    .box h4 span{
        font-size: 3.2rem;
    }

    .portfolio,
    .portfolio span{
        font-size: 2.4rem;
    }

    .text h2{
        font-size: 3rem;
    }

    .container-kep img{
        width: 250px;
    }

    .container-magamrol h3,
    .kepesseg h2,
    .skills-text h4{
        font-size: 3rem;
    }
    
    .container-magamrol p{
        width: 360px;
        font-size: 1.2rem;
    }
    
    .kepesseg p{
        font-size: 1.5rem;
    }
    
    .kepesseg-box{
        padding: 20px;
        width: 400px;
        height: 280px;
    }
    
    .kepesseg-box p{
        font-weight: 500;
        font-size: 1.2rem;
    }

    .skills-text p{
        font-size: 1.5rem;
    }

    .kontakt{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .footer-link{
        flex-direction: column;
    }

    .footer-link a{
        font-size: 1.1rem;
    }

    .footer-link li{
        margin-bottom: 10px;
    }

    
}

@media screen and (min-width:994px){

    .games img {
        width: 800px;
        height: 450px;
    }

    .projects h3{
        font-size: 1.8rem;
    }
    
    .projects h4 {
        font-size: 2rem;
    }
    
    .projects h2{
        text-align: center;
        font-size: 1.8rem;
        color: chocolate;
        padding-bottom: 30px;
    }

    .text a{
        font-size: 1.2rem;
    }

    .box{
        margin: 80px 0 600px 100px;
    }

    .box h1{
        font-weight: 200;
        font-size: 2.5rem;
    }

    .box h4,
    .box h4 span{
        font-size: 5rem;
    }

    .portfolio,
    .portfolio span{
        font-size: 2.9rem;
    }

    .text h2{
        font-size: 3.5rem;
    }

    .container-kep img{
        width: 350px;
    }

    .container-magamrol h3{
        border-top: none;
    }

    .container-magamrol{
        border-left: 1px solid white;
        padding-left: 20px;
        margin-left: 180px;
    }

    .container-box{
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .doboz{
        grid-area: doboz;
    }

    .doboz1{
        grid-area: doboz1;
    }

    .doboz2{
        grid-area: doboz2;
    }

    .kepesseg-container{
        display: grid;
        grid-template-areas: 
        "doboz doboz1"
        "doboz2 doboz2"
        ;
    }

    .card{
        grid-area: card;
    }

    .card1{
        grid-area: card1;
    }

    .card2{
        grid-area: card2;
    }

    .card3{
        grid-area: card3;
    }

    .card4{
        grid-area: card4;
    }

    .container{
        justify-content: space-evenly;
        align-items: center;
        display: grid;
        grid-template-areas:
        "card card1 card2"
        "card3 card4 card4"
        ;
    }

    .rolam{
        padding: 80px 0 110px 0;
    }
}

@media screen and (min-width:1400px){

    .loto_container,
    .clovece_container{
        display: flex;
        flex-direction: row;
    }

    .projects h2{
        font-size: 2.5rem;
    }

    .box{
        margin: 80px 0 600px 100px;
    }

    .box h4,
    .box h4 span{
        font-size: 5rem;
    }

    .kepesseg-container{
        display: grid;
        grid-template-areas: 
        "doboz doboz1 doboz2"
        ;
    }

    .container{
        justify-content: space-evenly;
        align-items: center;
        display: grid;
        grid-template-areas:
        "card card1 card2 card3 card4"
        ;
    }
    
}